<input-search
  (capitalSignal)="countryList.set($event)"
  [placeholder]="placeholderSignal()"
  [initialValue]="queryCountry()"/>

<table-list
  [countryList]="conutryResource.value() ?? []"
  [loading]="conutryResource.isLoading()"
  [isError]="conutryResource.error()"
/>

<!-- @if(conutryResource.error()){
  <p>{{conutryResource.error()}}</p>
} @if(conutryResource.hasValue()){
  <table-list [countryList]="conutryResource.value()!"/>
} @if(conutryResource.isLoading()){
  <p>Loading...</p>
} -->

