<section>
  <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100 p-4">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th>#</th>
          <th>Icono</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Capital</th>
          <th>Poblacion</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr>

        </tr>
        <!-- row 2 -->
        <tr>

        </tr>
        <!-- row 3 -->
        <tr>

        </tr>
        <!-- row 4 -->
        <th>

        </th>
        <!-- row 5 -->
        <th>

        </th>
        <!-- row 6 -->
        <th>

        </th>
      </tbody>
    </table>
  </div>
</section>
