<input-search
  (capitalSignal)="capital.set($event)"
  [placeholder]="placeholderSignal()"
  [initialValue]="queryCapital()"/>

  <table-list
  [countryList]="CapitalResource.value() ?? []"
  [loading]="CapitalResource.isLoading()"
  [isError]="CapitalResource.error()"
  />



<!-- @if (CapitalResource.error()) {
  <p>{{CapitalResource.error()}}</p>
} @if(CapitalResource.hasValue()){
  <table-list [countryList]="CapitalResource.value()!"/>
} @if(CapitalResource.isLoading()){
  <p>Loading...</p>
} -->
